<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <globalization
       culture="vi-VN"
       uiCulture="vi-VN"
       fileEncoding="utf-8"
    />
  </system.web>
  <connectionStrings>
    <add name="db_WinCoffeeEntities" connectionString="metadata=res://*/WinCoffee.csdl|res://*/WinCoffee.ssdl|res://*/WinCoffee.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3S3DAU4\SQLEXPRESS;initial catalog=db_WinCoffee;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="BlogPostImageFolder" value="/images/blogImages/" />
  </appSettings>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
    </staticContent>
  </system.webServer>
</configuration>